<div class="usersbody">

  <a md-raised-button color ="warn" row 
       [routerLink]="['/users']">
        Back
  </a>

  <div class="row">
        <div class="col-md-6 col-sm-6 well">   
        <form [ngFormModel]="form">
        <!--Name-->
                <div class="control-group">Nome</div> 
                <input #newName="ngForm" ngControl="newName"
                        type="text" class="form-control" placeholder="Nome" />
                <div *ngIf="newName.touched && !newName.valid" class="alert alert-danger">Name is requred.</div>
                <!--<paper-input  label="Nome"></paper-input>-->
        <!--Email-->
                <div class="control-group">Email</div> 
                <input #newEmail="ngForm" ngControl="newEmail"
                type="text" class="form-control"  placeholder="Email" />            
                <div *ngIf="newEmail.touched && !newEmail.valid" class="alert alert-danger">Invalid email.</div>
                <!--<paper-input  label="Email"></paper-input>-->
        <!--Eta-->
                <div class="control-group">Eta</div>         
                <input type="text" class="form-control" #newEta placeholder="Eta" />
                <!--<paper-input  label="Eta"></paper-input>-->
        <!--Sesso-->
                <div class="control-group">Sex</div>  
                <select class="form-control" #newSesso placeholder="Sesso">
                <option></option> 
                <option value="M">M</option>
                <option value="F">F</option>
                </select> 
                <!--<vaadin-combo-box #newSesso label="Sesso" [items]="Sesso" [(value)]="selectedSesso"></vaadin-combo-box>   -->
        <!--LivelloLingua-->
                <div class="control-group">LivelloLingua</div>  
                <select class="form-control" #newLivelloLingua placeholder="LivelloLingua">
                <option></option> 
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="Advanced">Advanced</option>
                <option value="Native">Native</option>
                </select>  
                <!--<vaadin-combo-box #newLivelloLingua label="Livello Lingua" [items]="livelloLingua" [(value)]="selectedLivelloLingua"></vaadin-combo-box>-->
        <!--Data-->
                <div class="control-group">Data</div> 
                <input type="date" class="form-control" #newData placeholder="Data" />
                <!--<vaadin-date-picker #newData label="Data Interviului"></vaadin-date-picker>-->

        <!--Ora-->
                <div class="control-group">Ora</div> 
                <input type="time" class="form-control" #newOra placeholder="Ora" />
        <!--Upload File-->
                <br>

                <style is="custom-style">
                vaadin-upload {
                --primary-color: #396;
                --vaadin-upload-file-row: {
                        background-color: rgba(183, 225, 205, 0.24);
                        padding: 5px;
                        border-radius: 4px 4px 0px 0px;
                };
                }
                </style>
                <vaadin-upload 
                        target="http://localhost:8080/upload"
                        max-files="2" max-file-size="2000000"
                        accept="application/pdf,image/*" 
                        >
                </vaadin-upload>
        <!--Button Submit-->
                <button type="button" class="btn btn-success"
                        [disabled]="!form.valid"  (click)="addField(
                        newName.value, 
                        newEmail.value, 
                        newOra.value,
                        newEta.value, 
                        newSesso.value, 
                        newLivelloLingua.value,
                        newData.value 
                        )">
                                Save
                </button>
                  <!--<a md-raised-button color ="primary" row 
                     [routerLink]="['/users']"
                     (click)="addField(
                        newName.value, 
                        newEmail.value, 
                        newOra.value,
                        newEta.value, 
                        newSesso.value, 
                        newLivelloLingua.value,
                        newData.value 
                        )">
                              Save
                  </a>-->
        </form>
        </div>
    </div>
</div>
