<div class="usersbody">

  <a md-raised-button color="primary" 
          [routerLink]="['/users/new']">
          Add New
  </a>

  <!--<a 
      [routerLink]="['/users/new']" 
      class="btn btn-success">
  Add New
  </a>   -->

    <table class= "table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Ora</th>
          <th>Eta</th>
          <th>Sesso</th>
          <th>LivelloLingua</th>
          <th>Data</th>
          <!--<th>Update</th>
          <th>Delete</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.ora }}</td>
            <td>{{ user.eta }}</td>
            <td>{{ user.sesso }}</td>
            <td>{{ user.livellolingua }}</td>          
            <td>{{ user.data }}</td>          
            <!--
            <td><input type="text" #updatename [value]="user.name" /></td>
            <td><input type="text" #updateemail [value]="user.email" /></td>
            <td><input type="text" #updateora [value]="user.ora" /></td>
            <td><input type="text" #updateeta [value]="user.eta" /></td>
            <td><input type="text" #updatesesso [value]="user.sesso" /></td>
            <td><input type="text" #updatelivellolingua [value]="user.livellolingua" /></td>
            <td><button (click)="update(
                        ueser.$key, 
                        updatename.value, 
                        updateemail.value,
                        updateora.value,
                        updateeta.value,
                        updatesesso.value,
                        updatelivellolingua.value
                        )">Update</button></td>
            <td class="text-center">
                <i class="glyphicon glyphicon-remove clickable"
                  (click)="deleteUser(user.$key)">
                </i>
            </td>
            -->
        <tr>
      </tbody>
    </table>
  <spinner [visible]="loadingLista"></spinner>
</div>
