<div class="usersbody">

  <a md-raised-button color ="primary" row 
          [routerLink]="['/users/new']">
          Add New
  </a>
  <a md-raised-button color ="warn" row 
          [routerLink]="['/users/edit']">
          Edit Users
  </a>

    <table class= "table table-hover table-bordered">
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Ora</th>
          <th>Eta</th>
          <th>Sesso</th>
          <th>LivelloLingua</th>
          <th>Data</th>
          <!--<th>Update</th>
          <th>Delete</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | async">
            <td>{{ user.name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.ora }}</td>
            <td>{{ user.eta }}</td>
            <td>{{ user.sesso }}</td>
            <td>{{ user.livellolingua }}</td>
            <td>{{ user.data}}</td>
        <tr>
      </tbody>
    </table>
  <spinner [visible]="loadingLista"></spinner>
</div>
