.clickable{
  cursor:pointer;
}

.list-group-item {
  font-size: 0.5em; 
}

.loading-gif{
    position: absolute; 
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;   
    text-align: center;
}